body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: fixed;
}

nav {
  font-size: 30px;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  text-align:center;
  position: relative;

}

nav ul li {
  display: inline-block;
  margin: 0 20px;
  padding-top: 25px;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: #ff5000;
}

.page-div {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#Home {
  background-image: url("homepage-image2.jpg");
}

#About {
  background-color: #84BFFF;
  height: auto;
  padding-bottom: 150px;
}

#about-sub-div {
  clear: both;
  margin: 0 auto;
  color: white;
  font-size: 30px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  display: inline-block;
}

#about-sub-div ul {
  list-style-type: none;
  float: right;
  clear: both;
  font-family: 'Source Sans Pro', sans-serif;
}

#about-sub-div li {
  padding-bottom: 20px;
}

img[src="about-image2.jpg"] {
  clear: both;
  display: inline-block;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: 12px solid white;
  margin-top: 150px;
  margin-left: 100px;
}

#Calendar {
  background-image: url("calendar-image2.jpg");
}

#Sponsors {
  background-image: url("sponsors-image2.jpg");
}

#Sponsors img {
  margin: 0 auto;
  display: inline-block;
  clear: both;
}

.column {
  float: left;
  width: 26%;
  padding-left: 5%;
  padding-top: 120px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#Social {
  background-image: url("social-image2.jpg");
}

#social-links {
  padding-top: 80px;
  padding-left: 70px;
}

.social-link img {
  height: 70px;
  width: 70px;
  clear: both;
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;
}

.social-link a {
  color: white;
  text-decoration: none;
  font-size: 40px;
  font-family: 'Source Sans Pro', sans-serif;
}

.social-link a:hover {
  color: #ff5000;
}

.social-link h1 {
  display: inline-block;
  clear: both;
  padding-left: 50px;
}

.social-text {
  display: inline-block;
  clear: both;
}
