body, html {
  height: 100%;
  margin: 0;
  background-color: black;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  width: 60%;
  margin: 0 auto;
}

nav {
  font-size: 30px;
  position: fixed;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  float: left;
  display: inline-block;
  margin: 0 35px;
  padding-top: 25px;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: #ff5000;
}

.page-div {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#Home {
  background-image: url("homepage-image4.jpeg");
}

#about-sub-div {
  width: 80%;
  margin: 0 auto;
  color: #ff5000;
  font-size: 22px;
  padding: 100px;
}

#about-sub-div ul {
  list-style-type: none;
  text-align: left;
}

#about-sub-div li {
  padding-bottom: 30px;
}

img[src="about-image.jpg"] {
  max-width: 40%;
  height: auto;
  float: right;
  clear: both;
  display: inline-block;
}

#Calendar {
  background-image: url("calendar-image.jpg");
}

#Sponsors {
  background-image: url("sponsors-image.jpg");
}

#Social {
  background-image: url("social-image.jpg");
}
