body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: fixed;
}

nav {
  font-size: 30px;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  text-align:center;
  position: relative;

}

nav ul li {
  display: inline-block;
  margin: 0 35px;
  padding-top: 25px;
  padding-bottom: 25px;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: #ff5000;
}

.page-div {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#Home {
  background-image: url("homepage-image4.jpeg");
}

#about-sub-div {
  clear: both;
  margin: 0 auto;
  color: white;
  font-size: 22px;
  padding-left: 200px;
  display: inline-block;
}

#about-sub-div ul {
  list-style-type: none;
  float: right;
  clear: both;
  font-family: 'Raleway', sans-serif;
}

#about-sub-div li {
  padding-bottom: 20px;
}

img[src="about-image.jpg"] {
  clear: both;
  display: inline-block;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: 5px solid white;
  margin-top: 150px;
  margin-left: 100px;
}

#Calendar {
  background-image: url("calendar-image.jpg");
}

#Sponsors {
  background-image: url("sponsors-image.jpg");
}

#Social {
  background-image: url("social-image.jpg");
  padding-top: 75px;
  padding-left: 75px;
}

.social-link img {
  height: 60px;
  width: 60px;
  clear: both;
  display: inline-block;
}

.social-link h1 {
  display: inline-block;
  clear: both;
  color: #ff5000;
  margin-top: 35px;
  margin-left: 30px;
}

.social-text {
  display: inline-block;
  clear: both;
  padding-bottom: 50px;
}
